.image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.container {
  background-color: #f3f3f3;
}

.leftContainer {
  padding: 1.75rem 0;
}

.titleContainer {
  font-family: 'Oswald';
  font-size: 8rem;
  font-weight: 800;
  line-height: 0.95;
  user-select: none;
  text-transform: uppercase;
  /* color: #f3f3f3;
  mix-blend-mode: difference; */
}

.titleLetter {
  margin-left: -0.4rem;
  transition: opacity 0.3s ease-out;
}

.titleLetter:hover {
  opacity: 0.4;
  cursor: pointer;
}

.descriptionContainer {
  justify-self: center;
}

.descriptionText {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}