.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1.75rem 4rem;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  pointer-events: none;
}

.footerText {
  line-height: 1;
}

.primaryText {
  font-weight: 800;
}

.list {
  gap: 0.2rem;
}