.footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  padding: 1.5rem 3rem;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.05);
}

.footerText {
  line-height: 1;
}

.qText {
  font-weight: 600;
}
