.header {
  background-color: none;
  color: var(--foreground);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  padding: 1.75rem 0 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.navList {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.navText {
  line-height: 1;
}

.navText .icon {
  opacity: 0;
  margin-top: -0.05rem;
  margin-right: 0.3rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-10px);
}

.navText:hover .icon {
  opacity: 1;
  transform: translateX(0);
}

.logo {
  display: flex;
  gap: 0.5rem;
}

.logoIcon {
  width: 1.75rem;
  height: 1.75rem;
}

.logoText, .contactText {
  font-weight: 600;
}