.header {
  color: var(--foreground);
  font-weight: 400;
  font-size: 0.75rem;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.05);
  position: sticky;
  width: 100%;
  top: 0;
  padding: 1.75rem 4rem;
}

.navText {
  line-height: 1;
}

.navText .icon {
  opacity: 0;
  margin-top: -0.025rem;
  margin-right: 0.3rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-10px);
}

.navText:hover .icon {
  opacity: 1;
  transform: translateX(0);
}

.logo {
  gap: 0.5rem;
}

.logoIcon {
  width: 1.75rem;
  height: 1.75rem;
}

.logoText,
.contactText {
  font-weight: 600;
}

.list {
  gap: 0.25rem;
}