.pageContainer {
  height: 100vh;
  align-items: end;
  overflow: hidden;
  padding: 1.75rem 0;
}

.titleText {
  font-family: 'Geologica';
  letter-spacing: -0.05rem;
  /* > 1470 x 956 */
  font-size: 12rem;
  /* 1470 x 956 */
  /* font-size: 10rem; */
  font-weight: 800;
  line-height: 0.8;
  user-select: none;
  align-items: center;
  position: relative;
  bottom: -0.5rem;
}

.titleLetter {
  transition: opacity 0.3s ease-out;
  width: min-content;
}

.titleLetter:hover {
  opacity: 0.4;
  cursor: pointer;
}

.titleAdjusted {
  position: relative;
  left: -1rem;
}

.slash {
  position: relative;
  top: 0.75rem;
  font-size: 10rem;
  font-weight: 400;
}

.descriptionContainer {
  margin-bottom: 1rem;
}

.descriptionText {
  /* > 1470 x 956 */
  font-size: 2rem;
  /* 1470 x 956 */
  /* font-size: 1.5rem; */
  font-weight: 200;
  /* opacity: 0.8; */
}
