.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  height: 100vh;
}

.mainText {
  font-size: 9rem;
  font-weight: 600;
  z-index: 0;
  user-select: none;
  align-items: center;
}

.secondaryText {
  font-size: 4.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.075);
  position: relative;
  top: -1.125rem;
  left: 3rem;
  z-index: 1;
  user-select: none;
}

.interactiveText, .graphicText {
  color: black;
  line-height: 0.78;
}


.interactiveSecondaryText, .graphicSecondaryText {
  line-height: 0.78;
}

.subTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 6rem;
  gap: 1.5rem;
  top: -1.5rem;
}

.designText {
  font-weight: 600;
  line-height: 0.85;
  font-size: 3.5rem;
}

.slash {
  font-weight: 200;
  line-height: 0.85;
  font-size: 3.5rem;
}

.descriptionText {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.boldText {
  font-weight: 600;
}