.titleContainer {
  height: 90vh;
  align-items: center;
  overflow: hidden;
}

.mainText {
  font-size: 10rem;
  font-weight: 600;
  z-index: 0;
  user-select: none;
  align-items: center;
}

.secondaryText {
  font-size: 4.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.075);
  position: relative;
  top: -1.125rem;
  left: 3rem;
  z-index: 1;
  user-select: none;
}

.interactiveText,
.graphicText {
  line-height: 0.8;
}

.interactiveText {
  position: relative;
  left: -0.35rem;
}

.graphicText {
  position: relative;
  left: -0.25rem;
}

.interactiveSecondaryText,
.graphicSecondaryText {
  line-height: 0.78;
  filter: blur(0.2rem);
}

.cursiveText {
  font-family: "My Soul";
  font-weight: normal;
  letter-spacing: 0.9rem;
  line-height: 0.1;
}

.cursiveTextSecondary {
  font-family: "My Soul";
  font-weight: normal;
  letter-spacing: 0.6rem;
  line-height: 0.1;
}

.subTextContainer {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.5rem;
}

.designText {
  font-weight: 600;
  line-height: 0.85;
  font-size: 3.5rem;
}

.descriptionText {
  font-weight: 200;
  font-size: 1.125rem;
  letter-spacing: 0.025rem;
  line-height: 1.3125rem;
}

.boldText {
  font-weight: 600;
}
