.titleContainer {
  height: 89.5vh;
  align-items: end;
  overflow: hidden;
}

.title {
}

.titleText {
  font-family: 'Geologica';
  letter-spacing: -0.05rem;
  font-size: 12rem;
  font-weight: 600;
  line-height: 0.8;
  user-select: none;
  align-items: center;
}

.text {
  transition: opacity 0.3s ease-out;
  width: min-content;
}

.text:hover {
  opacity: 0.4;
  cursor: pointer;
}

.slash {
  position: relative;
  top: 0.75rem;
  font-size: 10rem;
  font-weight: 400;
}