.text {
  position: relative;
  top: 0.05rem;
  font-size: 0.75rem;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.navText {
  line-height: 1;
}

.list {
  left: 1rem;
  gap: 0.25rem;
}